
body {
    padding: 0px;
    margin: 0px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
}

.leftContent {
    flex-grow: 1;
}

#otherChats {
    white-space: nowrap;
}

#newChatBtn {
    white-space: nowrap;
}

.msgText {
    /* width: 100%; */
}

.codeBlock {
    width: 300px;
    border: solid 1px #ccc;
}

@media (min-width: 300px) {
    .codeBlock {
        width: 300px;
        border: solid 1px #ccc;
    }
}


@media (min-width: 480px) {
    .codeBlock {
        width: 480px;
        border: solid 1px #ccc;
    }
}

@media (min-width: 768px) {
    .codeBlock {
        width: 769px;
        border: solid 1px #ccc;
    }
}

@media (min-width: 1200px) {
    .codeBlock {
        width: 1200px;
        border: solid 1px #ccc;
    }
}

/* @media (min-width: 1201px) {
    .codeBlock {
        max-width: 1200px;
        border: solid 1px #ccc;
    }
} */

.sendMsgContainer {
    display: flex;
}

.msgInputContainer {
    flex-grow: 1;
}

.msgBtnContainer {
    margin-left: 10px;
}