
body {
    padding: 10px;
    margin: 0px;
    font-family: monospace;
}

.mainContent {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
}

.leftContent {
    flex-grow: 1;
}

#otherChats {
    /* white-space: nowrap; */
}

#newChatBtn {
    white-space: nowrap;
}

.msgText {
    /* width: 100%; */
}

.codeBlock {
    width: 300px;
    border: solid 1px #ccc;
}

#insContainer {
    overflow: auto;
    cursor: pointer;
    flex-grow: 1;
}

.insText {
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.insText:hover {
    background-color: #eee;
}

/* @media (min-width: 300px) {
    .codeBlock {
        width: 300px;
        border: solid 1px #ccc;
    }

    #insContainer {
        width: 150px;
    }
}


@media (min-width: 480px) {
    .codeBlock {
        width: 480px;
        border: solid 1px #ccc;
    }

    #insContainer {
        width: 300px;
    }
} */

@media (min-width: 768px) {
    .codeBlock {
        width: 769px;
        border: solid 1px #ccc;
    }



    /* #insContainer {
        max-width: 400px;
    } */
}

@media (max-width: 500px) {
    #instructionText {
        width: 100%;
        height: 100px;
    }
}

/* @media (min-width: 1200px) {
    .codeBlock {
        width: 1200px;
        border: solid 1px #ccc;
    }

    #insContainer {
        width: 700px;
    }
} */

/* @media (min-width: 1201px) {
    .codeBlock {
        max-width: 1200px;
        border: solid 1px #ccc;
    }
} */

.sendMsgContainer {
    display: flex;
}

.msgInputContainer {
    flex-grow: 1;
    max-width: 600px;
}

.msgBtnContainer {
    margin-left: 10px;
}

#messagesBox {
    border: solid 1px #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}