
body {
    /* width: 100%; */
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    max-width: 1000px;
}

.leftContent {
    /* flex-grow: 1; */
}

#otherChats {
    white-space: nowrap;
}

.msgText {
    /* width: 100%; */
}

.codeBlock {
    border: solid 1px #ccc;
}

.sendMsgContainer {
    display: flex;
}

.msgInputContainer {
    flex-grow: 1;
}

.msgBtnContainer {
    margin-left: 10px;
}